body{
    background-color: #fffcad;
}
.row1 {
    background-color: #d5fcd7;
    color: #103ffb;
    font-size: 18px;
    font-weight: bold;
}
.col1 {
    color: #1633a7;
}
td {

    width: 100px;
    height: 30px;
    text-align:
}
